<p id="notice"><%= notice %></p>

<p>
  <strong>Connect kbn:</strong>
  <%= @connection.connect_kbn %>
</p>

<p>
  <strong>From user:</strong>
  <%= @connection.from_user_id %>
</p>

<p>
  <strong>To user:</strong>
  <%= @connection.to_user_id %>
</p>

<p>
  <strong>Target:</strong>
  <%= @connection.target_id %>
</p>

<p>
  <strong>Create user:</strong>
  <%= @connection.create_user_id %>
</p>

<p>
  <strong>Update user:</strong>
  <%= @connection.update_user_id %>
</p>

<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
