<p id="notice"><%= notice %></p>

<p>
  <strong>Unique:</strong>
  <%= @user.unique_id %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @user.display_name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @user.content %>
</p>

<p>
  <strong>Img path:</strong>
  <%= @user.img_path %>
</p>

<p>
  <strong>Create user:</strong>
  <%= @user.create_user_id %>
</p>

<p>
  <strong>Update user:</strong>
  <%= @user.update_user_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
