<p id="notice"><%= notice %></p>

<p>
  <strong>Payment kbn:</strong>
  <%= @item.payment_kbn %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Noki:</strong>
  <%= @item.noki %>
</p>

<p>
  <strong>Week hour:</strong>
  <%= @item.week_hour %>
</p>

<p>
  <strong>Period kbn:</strong>
  <%= @item.period_kbn %>
</p>

<p>
  <strong>Option kbn:</strong>
  <%= @item.option_kbn %>
</p>

<p>
  <strong>Limit date:</strong>
  <%= @item.limit_date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @item.content %>
</p>

<p>
  <strong>Img path:</strong>
  <%= @item.img_path %>
</p>

<p>
  <strong>Create user:</strong>
  <%= @item.create_user_id %>
</p>

<p>
  <strong>Update user:</strong>
  <%= @item.update_user_id %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
