<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Create user:</strong>
  <%= @category.create_user_id %>
</p>

<p>
  <strong>Update user:</strong>
  <%= @category.update_user_id %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
